page-home-feed {

	.scroll-content{
		padding: 0 0 16px 0 !important;
	    background: lightgray !important;
	  
	}

	.post {
		padding: 15px 20px 5px 20px;
		background-color: white;
		line-height: 1;

		.user-infos {
			font-weight: 600;
			font-size: 13px;
		}
		.user-info {
			img {
				border-radius:50px;

			}
		}
		.post-text {
			
			
			textarea{
				width: 100%;
				height: 45px;
				font-size: 14px;
				font-weight: 300;
				border: 1px inset;
			}
		}

		.share-button {
			padding: 5px 0;
			button {
				background-color: white;
			}

		}

		.post-buttom {
			padding: 5px 0;
			button{
				width: 60px;
				height: 30px;
				border: 1px solid blue;
				border-radius: 3px;
				background-color: white;
				float: right;
			}
			
		}
	}

	.user-picture {
		img {
				border-radius:50px;
				width: 45px;
				height: auto;
			}

	}

	.list-md, .list-ios {

		margin: 155px 10px 15px;
		ion-card-header {
			font-weight: 600;
		}

		.card-header-md {
			font-size: 1.3rem;
    		color: #222;
    		padding: 10px 16px;
		}

		.card-content-md {
			line-height: .5;
			font-size: 1rem;
		}
	}

}
